html, body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	color: #24292e;
	line-height: 1.5;
	font-size: 14px;
}



/*Global==========
===================*/

.container {
	margin: auto;
	width: 95%;
	text-overflow: hidden;
}


/*header*/

header{
	position: fixed;
  top: 0;
	width: 100%;
	background-color: #24292e;
	color: #ffff;
	padding: 0px;
	min-height: 60px;
}

 header a{
	text-decoration: none;
	color: #fff;
}


/* SignUp SECTION */
.home-base {
	display: flex;
	width: 100%;
	background-color: #2B3137;
	padding: 64px 0;
	
}
.home-base-coder{
	width: 50%;
	margin-top: 80px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	color: #fff;
}

.home-base-coder h1{
	line-height: 40px;
	font-family: Helvetica;
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 0;
}

.home-base-coder p{
	font-size: 20px;
	margin-top: 0;
}
.home-base-coder a{
	text-decoration: none;
	background-color: #1074e7;
	border: 1px solid #1074e7;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 40% 4px;
	padding: 16px 24px;
	
}

.home-base-coder a:hover{
	transition: 0.3s;
	background: #0366d6;
}



#login a{
	border: none;
 	border-radius: 5px;
}

 #login a:hover{
 	color: #4CAF50;
 	transition: 1s;

}


#signup a{
	font-size: 15px;
	background-color: #24292e;
	margin: 0px 16px 0px 0px;
	border: 1px solid #ffffff;
 	padding: 8px 8px;
 	border-radius: 5px;
}

 #signup a:hover{
 	background-color: green;
 	transition: 1s;

}

header ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

header li{
	margin-top: 10px;
	float: left;
	padding: 15px;
}

header #branding {
	/*background: url("../img/img.png");
*/	float: left;

}

header #branding img{
	width: 120px;
	height: 30px;
	margin-top: 15px;
}

/*header #branding h2{
	margin-top: 10px;
	text-shadow: 5px 6px 5px grey;
}*/

/*Form styling*/

fieldset {
  margin: auto;
  margin-top: 8%;
  width: 30%;
  border: none;
  box-shadow: 2px 2px 2px 2px #6A737D;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 30px;
}
legend {
	font-size: 25px;
	font-weight: bold;
}

label {
	color: #24292E;
	font-size: 14px;
}  

.form-group span{
	color: red;
}
.form-group a{
	text-decoration: none;
	color: #0366D6;
}

.form-group a:hover{
	border-bottom: 1px solid #0366D6;
}
input[type=text], [type=email], [type=password] {
 	width: 100%;
 	font-size: 15px;
  	padding: 10px 8px;
 	margin: 0px 0px 5px;
 	display: inline-block;
 	transition: 0.5s;
 	border: 1px solid #ccc;
 	border-radius: 3px;
 	box-sizing: border-box;
 	outline: none;
}

input[type=text]:focus {
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}

input[type=email]:focus {
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}
input[type=password]:focus {
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}

select:focus {
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}

.form-group #sign-gender{
	width: 100%;
	margin: 0px 0px 5px;
	padding: 10px 8px;
	display: inline-block;
	border: 1px solid #ccc;
	transition: 0.5s;
	border-radius: 4px;
	box-sizing: border-box;
	text-transform: none;
	outline: none;

}

select{
	width: 32.5%;
	margin: 0px 0px 5px;
	padding: 10px 8px;
	display: inline-block;
	border: 1px solid #ccc;
	transition: 0.5s;
	border-radius: 4px;
	box-sizing: border-box;
	text-transform: none;
	outline: none;

}
.form-group p{
	margin: 10px 0px;
	font-size: 14px;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.form-group #sing-p a{
	float: right;
	text-decoration: none;
	color: blue;
	margin: 5px;
}


.form-group #sign-p a:hover{
	color: red;
	border-bottom: 1px solid red;
}

.form-group #log-p a{
	float: right;
	text-decoration: none;
	color: blue;
	margin: 5px;
}


.form-group #log-p a:hover{
	color: red;
	border-bottom: 1px solid red;
}
/*Error Styling*/
.form-error {
	background-color: #ffdce0;
    color: #86181d;
    margin: 16px 0;
    padding: 16px;
}

.form-success {
	background-color: #b3ffb3;
    color: #00cc00;
    margin: 16px 0;
    padding: 16px;
}

.input-error {
    box-shadow: 0 0 5px #86181d; 
}
.input-success {
    box-shadow: 0 0 5px #4dff88; 
}

/*Coming soon section */

.coming-soon {
	margin-top: 15%;
	margin-bottom: 8%;
}

.coming-soon h1{
	color: #ffffff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 20px #000000;
}



/*Footer styling*/
footer{
	margin-top: 50px;
	padding: 10px;
	
}


.footer-ul{
	width: 100%;
	display: flex;
}

.footer-ul h2{
	width: 50%;
	font-size: 20px;
	font-weight: bold;
}

footer ul{
	width: 50%;
	margin: 0;
	padding: 0;
}

footer li{
	display: block;
	list-style: none;
	margin-bottom: 10px;
	padding: 0px 10px 0 0 ;
}

footer a{
	text-decoration: none;
	font-size: 14px 0;
	color: #6A737D;
}
footer a:hover{
	color: #0366d6;
	border-bottom: 1px solid #0366d6;
}
footer p{
	font-size: 15px;
	color: #6A737D;
}




















/*tablets view*/
@media only screen and (min-width: 768px) and (max-width: 991px){


/*header*/
header{
	position: fixed;
    top: 0;
	width: 100%;
	background-color: #333;
	color: #ffff;
	min-height: 60px;
	border-bottom: #4CAF50 3px solid;
}

 header a{
	text-decoration: none;
	color: #fff;
}

/* SignUp SECTION */
.home-base {
	display: flex;
	width: 100%;
	background-color: #2B3137;
	padding: 64px 0;
	margin: 0;
}
.home-base-coder{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	color: #fff;
}

.home-base-coder h1{
	font-family: Helvetica;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

.home-base-coder p{
	font-size: 18px;
	margin-top: 0;
}
.home-base-coder a{
	text-decoration: none;
	background-color: #1074e7;
	border: 1px solid #1074e7;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 4px;
	padding: 16px 24px;

}

.home-base-coder a:hover{
	transition: 0.3s;
	background: #0366d6;
}



#login a{
	border: none;
 	border-radius: 5px;
}

 #login a:hover{
 	color: #4CAF50;
 	transition: 1s;

}


#signup a{
	font-size: 15px;
	background-color: #333;
	margin: 0px 16px 0px 0px;
	border: 1px solid #ffffff;
 	padding: 6px 8px;
 	border-radius: 5px;
}

 #signup a:hover{
 	background-color: green;
 	transition: 1s;

}

header ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

header li{
	float: left;
	padding: 15px;
}

header #branding {
	float: left;
}

header #branding img{
	width: 120px;
	height: 30px;
	margin-top: 13px;
}

/*Form styling*/

fieldset {
  margin: auto;
  margin-top: 15%;
  width: 50%;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 40px;
}
legend {
	font-size: 25px;
	font-weight: bold;
}
input[type=text], [type=email], [type=password] {
 	width: 100%;
 	font-size: 15px;
  	font-weight: bold;
  	padding: 10px 20px;
 	margin: 8px 0;
 	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
 	outline-color: green;
}

select{
	width: 32.5%;
	margin: 0px 0px 5px;
	padding: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-transform: none;
	outline: none;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/*Coming soon section */

.coming-soon {
	margin-top: 20%;
	margin-bottom: 8%;
}

.coming-soon h1{
	color: #ffffff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 20px #000000;
}


/*Footer styling*/
footer{
	margin-top: 50px;
	padding: 10px;
	
}

.footer-ul{
	width: 100%;
	display: flex;
}

.footer-ul h2{
	width: 50%;
	font-size: 20px;
	font-weight: bold;
}

footer ul{
	width: 50%;
	margin: 0;
	padding: 0;
}

footer li{
	display: block;
	list-style: none;
	margin-bottom: 10px;
	padding: 0px 10px 0 0 ;
}

footer a{
	text-decoration: none;
	font-size: 14px 0;
	color: #6A737D;
}
footer a:hover{
	color: #0366d6;
	border-bottom: 1px solid #0366d6;
}
footer p{
	font-size: 15px;
	color: #6A737D;
}

}













/*Mobile view*/
@media only screen and (min-width: 320px ) and (max-width: 767px){

	/*header*/
header{
	position: fixed;
    top: 0;
	width: 100%;
	background-color: #333;
	color: #ffff;
	padding-top: 20px;
	min-height: 60px;
	border-bottom: #4CAF50 2px solid;
}

 header a{
	text-decoration: none;
	color: #fff;
}


#login a{
	border: none;
 	border-radius: 5px;
}

 #login a:hover{
 	color: #4CAF50;
 	transition: 1s;

}


#signup a{
	font-size: 15px;
	background-color: #333;
	margin: 0px 16px 0px 0px;
	border: 1px solid #ffffff;
 	padding: 6px 8px;
 	border-radius: 5px;
}

 #signup a:hover{
 	background-color: green;
 	transition: 1s;

}
header ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

header li{
	margin-top: 0px;
	float: left;
	padding: 15px;
}

header #branding {
	float: left;
}

header #branding img{
	width: 120px;
	height: 30px;
	margin-top: 8px;
}


/* SignUp SECTION */
.home-base {
	display: block;
	width: 100%;
	margin: 0;
	background-color: #2B3137;
	padding: 50px 0;
}
.home-base-coder{
	width: 90%;
	margin: 50px 0px 0px 20px;
	color: #fff;
	text-align: center;
}

.home-base-coder h1{
	font-family: Helvetica;
	font-size: 30px;
	margin: 0;
	padding: 0;
}

.home-base-coder p{
	font-size: 20px;
	margin-top: 0;
}
.home-base-coder a{
	text-decoration: none;
	background-color: #1074e7;
	border: 1px solid #1074e7;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 4px;
	padding: 16px 24px;

}

.home-base-coder a:hover{
	transition: 0.3s;
	background: #0366d6;
}




/*Form styling*/

fieldset {
  margin: auto;
  margin-top: 30%;
  width: 70%;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 40px;
}
legend {
	font-size: 25px;
	font-weight: bold;
}
input[type=text], [type=email], [type=password] {
 	width: 100%;
 	font-size: 15px;
  	padding: 10px 20px;
 	margin: 8px 0;
 	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
 	outline-color: green;
}

select{
	width: 32.2%;
	margin: 0px 0px 5px;
	padding: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-transform: none;
	outline: none;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#forgot {
  margin-top: 20px;
}
#forgot a{
	text-decoration: none;
	color: blue;
}

#forgot a:hover{
	color: red;
	border-bottom: 1px solid red;
}


/*Coming soon section */

.coming-soon {
	margin-top: 30%;
	margin-bottom: 8%;
}

.coming-soon h1{
	color: #ffffff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 20px #000000;
}



/*Footer styling*/
footer{
	margin-top: 50px;
	padding: 10px;
	
}


.footer-ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}

.footer-ul h2{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

footer ul{
	width: 50%;
	margin: 0;
	padding: 0;
}

footer li{
	display: block;
	list-style: none;
	margin-bottom: 10px;
	padding: 0px 10px 0 0 ;
}

footer a{
	text-decoration: none;
	font-size: 14px 0;
	color: #6A737D;
}
footer a:hover{
	color: #0366d6;
	border-bottom: 1px solid #0366d6;
}
footer p{
	font-size: 15px;
	color: #6A737D;
}




}